body {
  letter-spacing: 0.014em;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

textarea{
  resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin-bottom: 0;
}

.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


