.container {
  max-width: 1320px;
  padding: 0 12px;
  margin: 0 auto;
}

.row {
  margin-right: -12px;
  margin-left: -12px;
}

.column {
  @media (min-width: 768px) {
    max-width: calc((100%/2));
  }

  @media (min-width: 992px) {
    max-width: calc((100%/3));
  }
}